<% include partials/_header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
<div class="container">
    <div class="top-acc">
        <h3 class="pull-left">Nueva orden de reparación</h3>
        <a href="/add_reparation" id="add_reparation" class="add_reparation btn btn-primary pull-right">
            <i class="fa fa-plus-circle"></i> Guardar reparación
        </a>
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label for="txtState">Tipo de reparación</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-map"></i></span>
                    </div>
                    <select id="states" style="width: calc(100% - 41px);height: 36px;">
                        <option style="display: none" value="0">Seleccione</option>
                        <option value="1">Domestica</option>
                        <option value="2">Comercial</option>
                    <select>
                </div>
        </div>
        <div class="col-md-4">
            <label for="txtState">Forma de pago</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-usd"></i></span>
                    </div>
                    <select id="states" style="width: calc(100% - 35px);height: 36px;">
                        <option style="display: none" value="0">Seleccione</option>
                        <option value="1">Pago</option>
                        <option value="2">Garantía</option>
                    <select>
                </div>
        </div>
        <div class="col-md-4">
            <div class="form-row mb-2">
                <label for="txtApt">Costo del chequeo</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-calculator"></i></span>
                    </div>
                    <input type="number" class="form-control" id="txtApt" placeholder="Costo del chequeo">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="txtState">Cliente</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id=""><i class="fa fa-user"></i></span>
                </div>
                <select id="clients" style="width: calc(100% - 80px);">
                    <option style="display: none" value="0">Seleccione</option>
                    <% for(var i = 0; i < clients.length; i++) { %>
                        <option value="<%= clients[i].id %>"><%= clients[i].name %> <%= clients[i].lastname %></option>
                    <% } %>
                </select>
                <a href="#" class="input-group-text" id=""><i class="fa fa-user-plus"></i></a>
            </div>
        </div>
        <div class="col-md-4">
            <label for="txtState">Tecnico a asignar</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id=""><i class="fa fa-user-md"></i></span>
                </div>
                <select id="technics" style="width: calc(100% - 37px);">
                    <option style="display: none" value="0">Seleccione</option>
                    <% for(var i = 0; i < technics.length; i++) { %>
                        <option value="<%= technics[i].id %>"><%= technics[i].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-row mb-2">
                <label for="txtApt">Fecha estimada</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="date" class="form-control" id="txtApt" placeholder="Fecha estimada del chequeo">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="txtState">Electrodomestico</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id=""><i class="fa fa-microchip"></i></span>
                </div>
                <select id="devices" style="width: calc(100% - 38px); height: 36px;">
                    <option style="display: none" value="0">Seleccione</option>
                    <% for(var i = 0; i < devices.length; i++) { %>
                        <option value="<%= devices[i].id %>"><%= devices[i].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <label for="txtState">Tipo</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id=""><i class="fa fa-microchip"></i></span>
                </div>
                <select id="technics" style="width: calc(100% - 38px);">
                    <option style="display: none" value="0">Seleccione</option>
                    <option value="1">Pago</option>
                    <option value="2">Garantía</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <label for="txtState">Marca</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id=""><i class="fa fa-microchip"></i></span>
                </div>
                <select id="technics" style="width: calc(100% - 38px);">
                    <option style="display: none" value="0">Seleccione</option>
                    <option value="1">Pago</option>
                    <option value="2">Garantía</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-row mb-2">
                <label for="txtApt">Modelo</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-microchip"></i></span>
                    </div>
                    <input type="text" class="form-control" id="txtApt" placeholder="Model del electrodomestico">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <label for="txtState">Posibles fallas en este electrodomestico</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id=""><i class="fa fa-free-code-camp"></i></span>
                </div>
                <select id="technics" style="width: calc(100% - 45px); height: 36px;" multiple>
                    <option style="display: none" value="0">Seleccione</option>
                    <option value="1">Pago</option>
                    <option value="2">Garantía</option>
                </select>
            </div>
        </div>
        <div class="input-field col-lg-12">
            <div class="form-group">
                <label for="txtComments">Comentarios</label> <i class="fa fa-commenting"></i>
                <textarea class="form-control" id="txtComments" placeholder="Notas y/o comentarios" rows="3"></textarea>
            </div>
        </div>
        <div class="input-field col-lg-12">
            <div class="form-group">
                <label for="txtComments">Diagnosticos del tecnico</label> <i class="fa fa-exclamation-triangle"></i>
                <textarea class="form-control" id="txtComments" placeholder="Comentarios / Diagnostigo del tecnico" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>
<% include partials/_footer %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script>
$('#clients, #technics').chosen();
</script>