<% include partials/_header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
<style>
#cboBreakdowns_chosen .chosen-choices{
    background: #a9cfd8;
}
</style>
<div class="container"> 
    <form action="/edit_reparation" method="POST">
        <div class="top-acc">
                <h3 class="pull-left">Editar orden de reparación</h3>
                <button type="submit" id="add_reparation" class="add_reparation btn btn-primary pull-right">
                        <i class="fa fa-plus-circle"></i> Guardar cambios
                    </button>
                <div class="clearfix"></div>
            </div>
        <div class="row">
            <div class="col-md-2">
                <label for="cboReparation_type">Tipo de reparación</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-map"></i></span>
                    </div>
                    <select id="cboReparation_type" name="reparation_type" style="width: calc(100% - 41px);height: 36px;" reqiored>
                            <option style="display: none" value="0">Seleccione</option>
                            <option value="Domestica" <%= (reparation[0].reparation_type == "Domestica" ? 'selected' : '') %>>Domestica</option>
                            <option value="Comercial" <%= (reparation[0].reparation_type == "Comercial" ? 'selected' : '') %>>Comercial</option>
                    <select>
                </div>
            </div>
            <div class="col-md-2">
                <label for="txtState">Forma de pago</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-usd"></i></span>
                    </div>
                    <select id="cboPayment_type" style="width: calc(100% - 35px);height: 36px;" name="payment_type">
                            <option style="display: none" value="0">Seleccione</option>
                            <option value="Pago" <%= (reparation[0].payment_type == "Pago" ? 'selected' : '') %>>Pago</option>
                            <option value="Garantia" <%= (reparation[0].payment_type == "Garantia" ? 'selected' : '') %>>Garantia</option>
                    <select>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                    <div class="form-row mb-2">
                        <label for="txtCheck_price">Codigo de reparación</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id=""><i class="fa fa-sort-numeric-asc"></i></span>
                            </div>
                            <input type="number" step="any" class="form-control" value="<%= reparation[0].reparation_code %>" disabled>
                        </div>
                    </div>
                </div>
            <div class="col-md-2">
                <div class="form-row mb-2">
                    <label for="txtCheck_price">Costo del chequeo</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><i class="fa fa-calculator"></i></span>
                        </div>
                        <input type="number" step="any" class="form-control" value="<%= reparation[0].check_price %>" name="check_price" id="txtCheck_price" placeholder="Costo del chequeo">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <label for="cboClients">Estado actual</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text status-<%= reparation[0].actual_status_id%> " style="color: #fff"><i class="fa fa-chain-broken"></i></span>
                        </div>
                        <select id="cboStatus" style="width: calc(100% - 39px);" name="actual_status_id">
                            <option style="display: none" value="0">Seleccione</option>
                            <% for(var i = 0; i < status.length; i++) { %>
                            <option value="<%= status[i].id %>" <%= (status[i].id == reparation[0].actual_status_id ? 'selected' : '')%>>
                                <%= status[i].name %>
                            </option>
                            <% } %>
                        </select>
                    </div>
                </div>
            <div class="col-md-4">
                <label for="cboClients">Cliente</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-user"></i></span>
                    </div>
                    <select id="cboClients" style="width: calc(100% - 80px);" name="client_id">
                        <option style="display: none" value="0">Seleccione</option>
                        <% for(var i = 0; i < clients.length; i++) { %>
                        <option value="<%= clients[i].id %>" <%= (clients[i].id == reparation[0].client_id ? 'selected' : '')%>>
                            <%= clients[i].name %>
                            <%= clients[i].lastname %>
                        </option>
                        <% } %>
                    </select>
                    <a href="#" class="input-group-text" id="add_client"><i class="fa fa-user-plus"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <label for="cboTechnics">Tecnico a asignar</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-user-md"></i></span>
                    </div>
                    <select id="cboTechnics" name="user_id" style="width: calc(100% - 37px);">
                        <option style="display: none" value="0">Seleccione</option>
                        <% for(var i = 0; i < technics.length; i++) { %>
                        <option value="<%= technics[i].id %>" <%= (technics[i].id == reparation[0].user_id ? 'selected' : '')%>>
                            <%= technics[i].name %>
                        </option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-row mb-2">
                    <label for="txtStimateDate">Fecha estimada</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="date" name="stimate_date" value="<%= reparation[0].stimate_date.toISOString().split('T')[0] %>" class="form-control" id="txtStimateDate" required placeholder="Fecha estimada del chequeo">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="txtState">Electrodomestico</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-microchip"></i></span>
                    </div>
                    <select id="devices" name="device_id" style="width: calc(100% - 38px); height: 36px;">
                        <option style="display: none" value="0">Seleccione</option>
                        <% for(var i = 0; i < devices.length; i++) { %>
                        <option value="<%= devices[i].id %>" <%= (devices[i].id == reparation[0].device_id ? 'selected' : '')%>>
                            <%= devices[i].name %>
                        </option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label for="devTypes">Tipo</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-microchip"></i></span>
                    </div>
                    <select id="devTypes" name="device_type_id" style="width: calc(100% - 38px); height: 36px;">
                        <option style="display: none" value="0">Seleccione</option>
                        <% for(var i = 0; i < devices_types.length; i++) { %>
                            <% if(devices_types[i].device_id == reparation[0].device_id){ %>
                                <option value="<%= devices_types[i].id %>" <%= (devices_types[i].id == reparation[0].device_type_id ? 'selected' : '' )%>>
                                    <%= devices_types[i].name %>
                                </option>
                           <% } %>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label for="cboManufacturers">Marca</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-microchip"></i></span>
                    </div>
                    <select id="cboManufacturers" name="manufacturer_id" style="width: calc(100% - 38px); height: 36px;">
                        <option style="display: none" value="0">Seleccione</option>
                        <% for(var i = 0; i < manufacturers.length; i++) { %>
                            <% if(manufacturers[i].device_id == reparation[0].device_id){ %>
                                <option value="<%= manufacturers[i].id %>" <%= (manufacturers[i].id == reparation[0].manufacturer_id ? 'selected' : '' )%>>
                                    <%= manufacturers[i].name %>
                                </option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-row mb-2">
                    <label for="txtModel">Modelo</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><i class="fa fa-microchip"></i></span>
                        </div>
                        <input type="text" name="device_model" value="<%= reparation[0].device_model %>" class="form-control" id="txtModel" placeholder="Model del electrodomestico">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <label for="cboBreakdowns">Posibles fallas en este electrodomestico</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-free-code-camp"></i></span>
                    </div>
                    <select id="cboBreakdowns" name="breakdowns[]" style="width: calc(100% - 45px); height: 36px;" multiple>
                        <option style="display: none" value="0">Seleccione</option>
                        <% for(var i = 0; i < breakdowns.length; i++) { %>
                            <% if(breakdowns[i].device_id == reparation[0].device_id){ %>
                                <% var breakdownDbArray = reparation[0].breakdowns.split(','); %>

                                <option value="<%= breakdowns[i].id %>" <%= (breakdownDbArray.includes(breakdowns[i].id.toString()) ? 'selected' : '') %>>
                                    <%= breakdowns[i].name %>  
                                </option>

                            <% } %>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="input-field col-lg-12">
                <div class="form-group">
                    <label for="txtComments">Comentarios</label> <i class="fa fa-commenting"></i>
                    <textarea class="form-control" name="comments" id="txtComments" placeholder="Notas y/o comentarios" rows="3"><%= reparation[0].comments %></textarea>
                </div>
            </div>
            <div class="input-field col-lg-12">
                <div class="form-group">
                    <label for="txtDiagnostic">Diagnosticos del tecnico</label> <i class="fa fa-exclamation-triangle"></i>
                    <textarea class="form-control" name="diagnostics" id="txtDiagnostic" placeholder="Comentarios / Diagnostigo del tecnico"
                        rows="3"><%= reparation[0].diagnostics %></textarea>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" id="id" value="<%= reparation[0].id %>">
    </form>
    <!-- Modal -->
<div class="modal fade" id="clientModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="clientModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-row mb-3">
                            <label for="txtName">Información del cliente</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id=""> <i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" id="txtName" placeholder="Nombre">
                                <input type="text" class="form-control" id="txtLastName" placeholder="Apellido">
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-row mb-2">
                                    <label for="txtName">Compañía</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id=""><i class="fa fa-building"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="txtCompany" placeholder="Compañía">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row mb-2">
                                    <label for="txtPhone">Teléfono</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id=""><i class="fa fa-phone"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="txtPhone" placeholder="Teléfono">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row mb-2">
                                    <label for="txtAddress">Dirección</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id=""><i class="fa fa-street-view"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="txtAddress" placeholder="Ej: 000 nombre street">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row mb-2">
                                    <label for="txtCity">Ciudad</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id=""><i class="fa fa-map-signs"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="txtCity" placeholder="Nombre de la ciudad">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row mb-2">
                                    <label for="txtState">Estado</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id=""><i class="fa fa-map"></i></span>
                                        </div>
                                        <select id="states" style="width: calc(100% - 41px);height: 36px;">
                                            <option style="display: none" value="0">Seleccione el estado</option>
                                        <select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row mb-2">
                                    <label for="txtApt">Apt/Unit</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id=""><i class="fa fa-home"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="txtApt" placeholder="Edificio numero">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="input-field col-lg-12">
                        <div class="form-group">
                            <label for="txtComments">Comentarios</label> <i class="fa fa-commenting"></i>
                            <textarea class="form-control" id="txtComments" placeholder="Notas y/o comentarios" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <img id="loading" src="/public/images/loading.gif" alt="cargando" style="display: none; width: 100px; height: 36px;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary btn-save">Guardar cliente</button>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/_footer %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script>
    $('select').chosen({
        no_results_text: "No se encontraron registros",
        placeholder_text_multiple: "Selecciones las fallas actuales en este electrodomestico",
        placeholder_text_single: "Seleccione una opción"
    });

    $('#devices').change(function () {
        let _this = $(this);
        let cboDeviceTypes = $('#devTypes');
        let cboManufacturers = $('#cboManufacturers');
        let cboBreakdowns = $('#cboBreakdowns');

        // Poblating 
        $.ajax({
            'url': '/get_devices_types_by_id/' + _this.val(),
            'method': 'GET',
            'dataType': 'json',
            success: function (response) {
                cboDeviceTypes.text('');
                cboManufacturers.text('');
                cboBreakdowns.text('');
                const devArray = response.devices_types;
                const manArray = response.manufacturers;
                const breakdownArray = response.breakdowns;
                let htmlDevTypes = '<option style="display: none" value="0">Seleccione el tipo</option>';
                let htmlManufacturers = '<option style="display: none" value="0">Seleccione la marca</option>';
                let htmlBreakdowns = '<option style="display: none" value="0">Seleccione las fallas</option>';

                for (let i = 0; i < devArray.length; i++) { // DEVICES TYPES
                    const device = devArray[i];
                    htmlDevTypes += '<option value="' + device.id + '">' + device.name + '</option>';
                }
                cboDeviceTypes.append(htmlDevTypes);

                for (let i = 0; i < manArray.length; i++) { // MANUFACTURES
                    const manufacturer = manArray[i];
                    htmlManufacturers += '<option value="' + manufacturer.id + '">' + manufacturer.name + '</option>';
                }
                cboManufacturers.append(htmlManufacturers);

                for (let i = 0; i < breakdownArray.length; i++) { // BREAKDOWNS
                    const breakdown = breakdownArray[i];
                    htmlBreakdowns += '<option value="' + breakdown.id + '">' + breakdown.name + '</option>';
                }
                cboBreakdowns.append(htmlBreakdowns);
                $('select').trigger('chosen:updated');
            },
            error: function (err) {
                alert('Ocurrió un error por favor intente de nuevo');
                console.log(err);
            }
        });
    });

    $('form').submit(function(e){
        e.preventDefault();
        validateSelect('cboReparation_type', 'Debes seleccionar un tipo de reparación');
        validateSelect('cboPayment_type', 'Debes seleccionar el modo de pago');
        validateSelect('devices', 'Debes seleccionar el electrodomestico');
        validateSelect('devTypes', 'Selecciona el tipo de electrodomestico');
        validateSelect('cboBreakdowns', 'Debes seleccionar las fallas de este electrodomestico');
        validateSelect('cboClients', 'Debes seleccionar el cliente');
        
        var form = $(this);
        var url = form.attr('action');

        $.ajax({
            type: "POST",
            url: url+'/'+$('#id').val(),
            data: form.serialize(), // serializes the form's elements.
            success: function (response) {
                if(response.ok){
                    window.location.href = response.redirect;
                }else{
                    console.log(response)
                }
            },
            error: function (err) {
                alert('Ocurrió un error por favor intente de nuevo');
                console.log(err);
            }
        });
        
    });

    $('#add_client').click(function () {
            $('.modal-title').text('Crear nuevo cliente');
            $('#mode').val('1');
            var stateList = $('#states');

            $.ajax({
                'url': '/states',
                'method': 'GET',
                'dataType': 'json',
                success: function (response) {
                    const devArray = response.data;
                    let html = '';
                    for (let i = 0; i < devArray.length; i++) {
                        const state = devArray[i];
                        html += '<option value="' + state.STATEID + '">' + state.FULLNAME + '</option>';
                    }
                    stateList.append(html);
                    $('#clientModal').modal();
                    console.log(response)
                },
                error: function (err) {
                    alert('Ocurrió un error por favor intente de nuevo');
                    console.log(err);
                }
            });
        });

    function validateSelect(select, message){
        var cbo = $('#'+select).val();
        if(cbo == 0 || cbo == null || cbo == []){
            $('<span class="badge badge-danger cbo_error">'+message+'</span>').insertAfter('#'+select+'_chosen');
        }else{
            $('.cbo_error').each(function() {
                $(this).hide('slow').remove()
            });
        }
        return
    }

    $('#cboPayment_type').change(function() {
        var _this = $(this);
        var txtCheckPrice = $('#txtCheck_price');
        if(_this.val() == 'Garantia'){
            txtCheckPrice.val('0.00').attr('disabled', 'disabled');
        }else{
            txtCheckPrice.removeAttr('disabled');
        }
    });

    function arrayContain(arr, element) {
    // Check if array contain a element 
    for (var i = 0; i < arr.length; i++) {
        if (arr[i] === element) {
            return true;
        }
    }
    return false;
}
</script>