<% include partials/_header %>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

<div class="container">
    <div class="top-acc">
        <h3 class="pull-left">Tabla de reparaciones <a href="#" style="text-transform: capitalize;"><i class="fa fa-user-md" aria-hidden="true"></i> <%= username %></a></h3>
        <div class="clearfix"></div>
    </div>
    <div class="table-responsive">
        <table id="tbl-clients" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Codigo</th>
                    <th>A reparar</th>
                    <th>Cliente</th>                    
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Fecha Creación</th>
                    <th>Fecha Estimada</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < reparations.length; i++) { %>
                <tr>
                    <td align="center" style="vertical-align: inherit;" diagnostic="<%= reparations[i].diagnostics %>">
                        <%= reparations[i].id %>
                    </td>
                    <td style="vertical-align: inherit;">
                        <%= reparations[i].reparation_code %>
                    </td>
                    <td style="vertical-align: inherit;">
                        <%= reparations[i].device_name %>
                    </td>
                    <td style="vertical-align: inherit;">
                        <%= reparations[i].clientname %> <%= reparations[i].lastname %>
                    </td>
                    <td style="vertical-align: inherit;">
                        <a target="_blank" href="http://maps.google.com/?q=<%= reparations[i].address %>+<%= reparations[i].city %>+<%= reparations[i].stateid %>+<%= reparations[i].zipcode %>"><%= reparations[i].address %>, <%= reparations[i].city %>, <%= reparations[i].stateid %>, <%= reparations[i].zipcode %></a>
                    </td>
                    <td style="vertical-align: inherit;">
                        <a href="tel:<%= reparations[i].phone %>"><%= reparations[i].phone %></a>
                    </td>
                    <td style="vertical-align: inherit;"><%= reparations[i].created_at.toLocaleString('en').split(",")[0] %></td>
                    <td style="vertical-align: inherit;"><%= reparations[i].stimate_date.toLocaleString('en').split(",")[0] %></td>
                    <td align="center" style="vertical-align: inherit;" status="<%= reparations[i].actual_status_id %>">
                        <span class="status status-<%= reparations[i].actual_status_id %>"><%= reparations[i].actual_status %></span>
                    </td>
                    <td align="center" style="vertical-align: inherit;">
                        <a href="/edit_reparation/<%= reparations[i].id %>" uid="<%= reparations[i].id %>" class="btn btn-primary btn-edit"><i
                        class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="/view_reparation_order/<%= reparations[i].id %>" class="btn btn-info btn-view"><i
                            class="fa fa-info-circle" aria-hidden="true"></i></a>
                    </td>
                </tr>

                <% } %>

            </tbody>
        </table>
    </div>

</div>
<input type="hidden" id="id">
<!-- Modal -->
<div class="modal fade" id="reparationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="clientModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar reparación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="form-row mb-2">
                        <label for="txtState">Estado</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id=""><i class="fa fa-map"></i></span>
                            </div>
                            <select id="cboStatus" style="width: calc(100% - 44px);" name="actual_status_id">
                                <option style="display: none" value="0">Seleccione el estado</option>
                                <% for(var i = 0; i < status.length; i++) { %>
                                <option value="<%= status[i].id %>">
                                    <%= status[i].name %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="input-field col-lg-12">
                    <div class="form-group">
                        <label for="txtDiagnostic">Diagnosticos del tecnico</label> <i class="fa fa-exclamation-triangle"></i>
                        <textarea class="form-control" name="diagnostics" id="txtDiagnostic" placeholder="Comentarios / Diagnostigo del tecnico"
                            rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary btn-save">Guardar cliente</button>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer %>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tbl-clients').DataTable({
            "order": [[0, "desc"]],
            "columnDefs": [
                { "width": "5%", "targets": 0 },
                { "width": "8%", "targets": 7 },
                { "width": "8%", "targets": 6 },
                { "width": "10%", "targets": 9 }
            ]
        });

        $('.btn-edit').click(function (e) {
            e.preventDefault();
            $('#mode').val(2);
            $('#deviceid').val($(this).attr('uid'));
            var id = $(this).parent().siblings(':eq(0)').text().trim();
            var diagnostic = $(this).parent().siblings(':eq(0)').attr('diagnostic');
            var code = $(this).parent().siblings(':eq(1)').text().trim();
            var name = $(this).parent().siblings(':eq(3)').text().trim();
            var status = $(this).parent().siblings(':eq(8)').attr("status").trim();
            $('.modal-title').text('Editar reparación # '+ id + '-' + code + ', ' + name);
            $('#reparationModal').modal();
            $('#id').val(id);
            $('#cboStatus').val(status); 
            $('#txtDiagnostic').val(diagnostic);
            $('select').trigger("chosen:updated");
        });

        $('.btn-save').click(function() {
            $.ajax({
                'url': '/edit_reparation/'+$('#id').val(),
                'method': 'POST',
                'data': {
                    actual_status_id: $('#cboStatus').val(),
                    diagnostics: $('#txtDiagnostic').val()
                },
                'dataType': 'json',
                success: function (response) {
                    $('#reparationModal').modal('hide');
                        location.reload();
                    console.log(response);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    });
</script>