<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Orden de reparación</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
.gray-sts{
    color: #9e9e9e;
}
</style>
</head>
<div class="container" style="text-align: center;padding-top: 18px;">

    <div class="row">
        <div class="col-md-12">
                <img src="https://axaserviz.com/app/static/media/logo_last_stop_appliances_color.d0a865ce.png" width="155">
                <h2>Orden de reparación</h2>
                <p class="mb-1"># <%= reparation[0].id %>-<%= reparation[0].reparation_code %></p>
                <p class="mb-1 gray-sts">Fecha de creación : 
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <%= reparation[0].created_at.toISOString().split('T')[0] %>
                </p>
                <p class="pb-0 gray-sts">Fecha estimada de visita : 
                    <i class="fa fa-calendar" aria-hidden="true"></i> <%= reparation[0].stimate_date.toISOString().split('T')[0] %>
                </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Cliente : <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> HECTOR LARA</a></h4>
                </div>
                <div class="panel-body">
                    <p class="mb-1">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        10 Southard street, Paterson, New jersey <br>
                    </p>
                    <p style="margin: 0;">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        9736802390 <br>
                    </p>
                </div>
            </div>
        </div>
    </div> <!-- / end client details section -->
<hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="mb-1 gray-sts">
                        Estado actual <br>
                    </p>
                    <p class="alert" style="border-radius: .25rem; color: #FFF;background: #9e9e9e;">
                        <strong>Esperando piezas</strong> <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
<hr>
<!-- REPARATION DETAILS -->
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="mb-1 gray-sts pull-left">
                        Técnico asignado
                    </p>
                    <p class="mb-1 pull-right">
                        <strong><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> HECTOR LARA</a></strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="mb-1 gray-sts pull-left">
                        Tipo de reparación
                    </p>
                    <p class="mb-1 pull-right">
                        <%= reparation[0].reparation_type %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="mb-1 gray-sts pull-left">
                        Forma de pago
                    </p>
                    <p class="mb-1 pull-right">
                        Pago
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr style="background: black;">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="mb-1 pull-left">
                        <strong>Costo de chequeo</strong>
                    </p>
                    <p class="mb-1 pull-right">
                        <strong>$30.00</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr style="background: black;">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="mb-1 gray-sts pull-center">
                        Electrodomestico a reparar
                    </p>
                    <p class="mb-1 pull-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0tCvLrj6na93dz1uFazGDzyrRNZROJyHUdZU0ekXjY12jO2FW" alt="">
                    </p>
                    <p class="mb-1 pull-center">
                        <strong>NEVERA</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
            <div class="col-md-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="mb-1 gray-sts pull-left">
                            Tipo de electrodomestico
                        </p>
                        <p class="mb-1 pull-right">
                            Dos puertas
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="mb-1 gray-sts pull-left">
                            Marca
                        </p>
                        <p class="mb-1 pull-right">
                            Samsung
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="mb-1 gray-sts pull-left">
                            Modelo
                        </p>
                        <p class="mb-1 pull-right">
                            SD-M24451
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="mb-1 pull-center">
                            <strong>Fallas reportadas</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" style="background: #9e9e9e; color: #fff;">Cras justo odio</li>
                            <li class="list-group-item" style="background: #9e9e9e; color: #fff;">Dapibus ac facilisis in</li>
                            <li class="list-group-item" style="background: #9e9e9e; color: #fff;">Morbi leo risus</li>
                            <li class="list-group-item" style="background: #9e9e9e; color: #fff;">Porta ac consectetur ac</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="mb-1 pull-center">
                            <strong>Notas y/o comentarios</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">POR FAVOR TOCAR ANTES DE ENTRA. HAY PERRO </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="mb-1 pull-center">
                            <strong>Diagnosticos del técnico</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">ESTE EQUIPO TIENE LA MAYOR PARTE DE SUS PIEZAS DEFECTUOSAS.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
</div>
